# Solana Network
# Choose one of the following Solana networks:
NEXT_PUBLIC_SOLANA_NETWORK=https://api.devnet.solana.com
# NEXT_PUBLIC_SOLANA_NETWORK=https://api.testnet.solana.com
# NEXT_PUBLIC_SOLANA_NETWORK=https://api.mainnet-beta.solana.com

# Helius API Configuration
HELIUS_RPC_URL=https://mainnet.helius-rpc.com/?api-key=your-helius-api-key
HELIUS_API_KEY=your-helius-api-key

# Postgres Database Configuration
POSTGRES_URL="postgres://your-postgres-user:your-postgres-password@your-postgres-host:5432/your-postgres-database?sslmode=require"
POSTGRES_PRISMA_URL="postgres://your-postgres-user:your-postgres-password@your-postgres-host:5432/your-postgres-database?sslmode=require"
POSTGRES_URL_NON_POOLING="postgres://your-postgres-user:your-postgres-password@your-postgres-host:5432/your-postgres-database?sslmode=require"
POSTGRES_USER="your-postgres-user"
POSTGRES_HOST="your-postgres-host"
POSTGRES_PASSWORD="your-postgres-password"
POSTGRES_DATABASE="your-postgres-database"

# Supabase Configuration
SUPABASE_SERVICE_ROLE_KEY="your-supabase-service-role-key"
SUPABASE_ANON_KEY="your-supabase-anon-key"
SUPABASE_URL="https://your-supabase-url.supabase.co"
SUPABASE_JWT_SECRET="your-supabase-jwt-secret"

# Vercel Environment Variables
VERCEL_ENV=development
# Uncomment for production:
# VERCEL_ENV=production
VERCEL_URL=https://bark-nft-marketplace-demo-dapp.vercel.app
VERCEL_TOKEN=your-vercel-token